    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-car"></i>
            <h2 class="">Comprá tu auto en cuotas</h2>
            <p class="">Financiá tu auto nuevo o usado con planes flexibles y cuotas adaptadas a vos. ¡Rápido y seguro!</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-tools"></i>
            <h2>Mantenimiento y servicios</h2>
            <p>Accedé a talleres y servicios de confianza. Mantené tu auto en óptimas condiciones sin complicaciones.</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-shield-alt"></i>
            <h2>Seguridad en cada compra</h2>
            <p>Protección en cada transacción y garantía en los vehículos. Comprá con confianza y tranquilidad.</p>
          </article>
        </div>
      </div>
    </div>