<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
<%- include('./partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="">
				<label class="form">Nombre de usuario(Email):</label>
							<input type="text" name="nombreUsuario" id="nombreUsuario" class="form-input" required>
							<label class="form">Contraseña:</label>
							<input type="password" name="contrasenia" id="contrasenia" class="form-input" required>
							<button type="submit" class="btn">Ingresar</button>
				</form>


	<!-- footer -->
	<footer class="main-footer"> 
 <%- include('partials/footer') %>
  </footer>
	<!-- /footer -->
</body>

</html>