<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
<%- include('./partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
	<%- include('./partials/headerLogueado') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form>
					<label class="form-label">Imagen:</label>
					<input type="file" id="myfile" name="myfile" class="form-input" required>

					<label class="form-label">Nombre del producto:</label>
					<input type="text" id="name" name="name" class="form-input" required>

					<label class="form-label">Descripción:</label>
					<input type="text" id="description" name="description" class="form-input" required>

					<button type="submit" class="btn">Agregar Producto</button>
				  </form>
			</h2>


	<!-- footer -->
		<footer class="main-footer"> 
 <%- include('partials/footer') %>
  </footer>
	<!-- /footer -->
</body>

</html>