<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
<%- include('./partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
	<%- include('./partials/headerLogueado') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form>
					<label class="form-label">Imagen:</label>
					<input type="file" id="myfile" name="myfile" class="form-input" required>

					<label class="form-label">Nombre del producto:</label>
					<input type="text" id="name" name="name" class="form-input" required>

					<label class="form-label">Descripción:</label>
					<input type="text" id="description" name="description" class="form-input" required>

					<button type="submit" class="btn">Agregar Producto</button>
				  </form>
			</h2>


	<!-- footer -->
	<footer class="main-footer"> 
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-car"></i>
            <h2>Comprá tu auto en cuotas</h2>
            <p>Financiá tu auto nuevo o usado con planes flexibles y cuotas adaptadas a vos. ¡Rápido y seguro!</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-tools"></i>
            <h2>Mantenimiento y servicios</h2>
            <p>Accedé a talleres y servicios de confianza. Mantené tu auto en óptimas condiciones sin complicaciones.</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-shield-alt"></i>
            <h2>Seguridad en cada compra</h2>
            <p>Protección en cada transacción y garantía en los vehículos. Comprá con confianza y tranquilidad.</p>
          </article>
        </div>
      </div>
    </div>
  </footer>
	<!-- /footer -->
</body>

</html>