<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	 <header class="main-header">
	<%- include('partials/header') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div>
						<form action="/" method="get">
							<label class="form">Nombre de usuario:</label>
							<input type="text" name="nombreUsuario" id="nombreUsuario" class="form-input" required>

							<label class="form">Email:</label>
							<input type="email" name="email" id="email" class="form-input" required>

							<label class="form">Contraseña:</label>
							<input type="password" name="contrasenia" id="contrasenia" class="form-input" required>

							<label class="form">Fecha de nacimiento:</label>
							<input type="date" name="nacimiento" id="nacimiento" class="form-input" required>

							<label class="form">Número de documento:</label>
							<input type="number" name="dni" id="dni" class="form-input" required>

							<button type="submit" class="btn">Registrarme</button>
						</form>

				  </div>
			</h2>


	<!-- footer -->
	<footer class="main-footer"> 
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-car"></i>
            <h2>Comprá tu auto en cuotas</h2>
            <p>Financiá tu auto nuevo o usado con planes flexibles y cuotas adaptadas a vos. ¡Rápido y seguro!</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-tools"></i>
            <h2>Mantenimiento y servicios</h2>
            <p>Accedé a talleres y servicios de confianza. Mantené tu auto en óptimas condiciones sin complicaciones.</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-shield-alt"></i>
            <h2>Seguridad en cada compra</h2>
            <p>Protección en cada transacción y garantía en los vehículos. Comprá con confianza y tranquilidad.</p>
          </article>
        </div>
      </div>
    </div>
  </footer>
	<!-- /footer -->
</body>

</html>