<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	 <header class="main-header">
	<%- include('partials/header') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div>
						<form action="/" method="get">
							<label class="form"> Nombre de usuario: </label>
							<input type="text" name="nombreUsuario" id="nombreUsuario" class="form-input" required>

							<label class="form">Email:</label>
							<input type="email" name="email" id="email" class="form-input" required>

							<label class="form">Contraseña:</label>
							<input type="password" name="contrasenia" id="contrasenia" class="form-input" required>

							<label class="form">Fecha de nacimiento:</label>
							<input type="date" name="nacimiento" id="nacimiento" class="form-input" required>

							<label class="form">Número de documento:</label>
							<input type="number" name="dni" id="dni" class="form-input" required>

							<button type="submit" class="btn">Registrarme</button>
						</form>

				  </div>
			</h2>


	<!-- footer -->
	<footer class="main-footer"> 
 <%- include('partials/footer') %>
  </footer>
	<!-- /footer -->
</body>

</html>